*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Georgia ,serif!important;
}
/* .content1{
    width: 40% !important;
}
.img{
    width: 600px !important;
    height: 650px !important;
    padding-top: 40px;
}
h1{
    font-weight: bolder;
    font-size: 60px;
    width: 30%;padding-left: 40px;
    padding-top: 40px;
}
p{width: 400px !important;
    padding-left: 30px;
}
.btn{
margin-left: 50px !important;
margin-top: 20px !important;
} */

/* .img{
    width: 600px !important;
    height: 650px !important;
    padding-top: 40px;
} */
h1{
    font-weight: bolder;
    font-size: 60px;
    width: 30%;padding-left: 40px;
    padding-top: 40px;
}
.para{
    width: 50% !important;
    padding-left: 40px;
}
.btn{
margin-left: 50px !important;
margin-top: 20px !important;
} 



.nav2{
    height: 180px !important;
    border-bottom: 1px solid rgb(181, 175, 175) !important;
}
.img1{
    width:40% !important;
    padding-top: 50px;
}
.head{
    font-weight:bolder;
    font-size: 60px;
    width: 60%;
    margin: 0 auto;
    padding-top: 150px;
    margin-left: 30px;
    padding-bottom: 20px;
}

.para2{
    width: 80% !important;
    padding-left: 30px;
    padding-bottom: 20px;
    color: gray;
}
.head1{
    padding-left: 20px;
    padding-top: 60px;
}
.para3{
       padding-left: 20px;
 color: rgb(130, 128, 128);
}
@media(width:1000px){
    .content{
        flex-direction: column;
    }
}