*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia ,serif!important;

}
.head{
    font-size: 70px !important;
}
.img{
    width: 600px!important;
    padding-top: 50px;
}
/* .head1{
    font-size: 60px !important;
    padding-top: 50px !important;
    padding-left: 22px !important;
}


.para1{
    width: 400px !important;
    color: gray !important;
    padding: 5px;
} */
.btn{
    width: 160px !important;
    height: 50px !important;
    border-radius: 0 !important;
margin-left: -35px !important;
}
.head2{
    font-size: 60px !important;
    padding-top: 50px !important;
    padding-left: 22px !important;
    font-weight: bolder !important;
}


.para2{
    width: 400px !important;
    color: gray !important;
    padding: 5px;
}
.btn1{
    margin-left: 20px !important;
}
 .my h1{
        width: 90px;
    height: 90px;
    border-radius: 50%;
background-color: orange;
    font-weight: bolder;
    font-size: 60px;
    width: 30;
    margin: 30px 350px 10px 400px;
    padding-top: 12px;
    padding-left: 5px;
}
span{
      padding-left: 20px;}

.my p{
    width: 75% !important;
    padding-left: 250px;
    margin: 0 auto;
    font-size: 20px;
    padding-top: 30px;

}
 .my1 h1{
        width: 90px;
    height: 90px;
    border-radius: 50%;
background-color: orange;
    font-weight: bolder;
    font-size: 60px;
    padding-top: 12px;
    padding-left: 40px;
}
span{
      padding-left: 10px;}

.my1 p{
    font-size: 20px;
}
.head3{
    display: flex;justify-content: space-between;padding-top: 100px;
}
.head4 h1{
    font-size: 50px;
    font-weight: bolder;
    padding-top: 200px;
    padding-bottom: 30px;
}
.head4 p{
    width: 400px;
}
@media(max-width:1000px){
    .content{
        flex-direction: column;
    }
}