*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Georgia ,serif!important;
}
.content1{
    width: 40% !important;
}
.img{
    width: 600px !important;
    height: 650px !important;
    padding-top: 40px;
}
h1{
    font-weight: bolder;
    font-size: 60px;
    width: 30%;padding-left: 40px;
    padding-top: 40px;
}
p{width: 400px !important;
    padding-left: 30px;
}
.btn{
margin-left: 50px !important;
margin-top: 20px !important;
}
@media(width:1000px){
    .content1{
        flex-direction: column;
    }
}