*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.wrapper {
  max-width: 1800px;
  height: 100%;
  margin: 0 auto;
  /* border: 2px solid rgb(124, 243, 124); */
}

header {
  min-height: 70px;
  width: 100vw;
  background-color:black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.header {
  display: flex;
  padding: 0 1em;
  align-items: center;
  padding-top: 10px;
}
.header h1{
    font-size: 40px;color: white;margin-left: 30px;
    flex-grow: 2;
}
.header span{
    color: rgb(41, 228, 41);padding-left: 0;
}
.header a{
    text-decoration: none;color: white;display: block;
    flex-grow: 3;
}
:hover a{
    color: green;
}

/* ***********************************header end************************** */

/* ***********************************content1 start************************** */

.content1{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw-CYe5FSaDVIgs2Ypumg_PJ6XdQU2WR8Fww&s);
    background-size: cover;
    gap: 2em;
    flex-wrap: wrap;
    padding-top: 130px;
    display: flex;justify-content: space-between;

}
.conten1.para1 {
    width: 50%;
}
.content1.img1{
    width: 50%;
}
#h1{
    color: rgb(192, 189, 189);}
.content1 h1{
    color: rgb(121, 116, 116);font-size: 50px;padding-left: 50px;
}
.content1 .para1 p{
    color: rgb(122, 119, 119);display: flex;justify-content: center;
    padding-left: 50px;padding-top: 30px;
}
.btn1{
    width: 170px;height: 50px;background-color: transparent;
    color: green;border: 1px solid green;border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 16px;
}
:hover .btn1{
    background-color:green;color: white;
}
.btn2{
    width: 170px;height: 50px;color: white;
    background-color: green;border-radius: 5px;
    border: 1px ;font-size: 16px;
    margin-left: 10px;
}
:hover .btn1{
}
.content1 .img1{
    width: 50%;
    padding-left: 40px;
    position: relative; 
    animation: bounce 2s infinite; 
}
.img1 img{
    width: 500px;
}







/* ***********************************content1 end************************** */








@media(max-width:650px){
    .header {
        display: flex;flex-direction: column;

    }
}